/* General */
a,
button {
	padding: 1em;
	transition: color var(--transition-speed-primary) ease;
}

button {
	border: none;
	cursor: pointer;
	background-color: transparent;
}

a {
	text-decoration: none;
}

/* Components */
.btn-primary {
	outline: .2em solid var(--color-primary);
	border-radius: var(--border-radius-primary);
	transition: outline-color var(--transition-speed-primary) ease;
}

.link-primary {
	color: var(--color-primary-lighter);
	position: relative;
	transition: color var(--transition-speed-primary) ease;
}

.link-primary::before,
.link-primary::after {
	position: absolute;
	content: '';
	left: 0;
	width: 100%;
	border-radius: var(--border-radius-primary);
}

.link-primary::before {
	top: 0;
	background-color: var(--color-primary);
	z-index: -1;
	height: 0%;
	transition: height var(--transition-speed-primary) ease;
}

.link-primary::after {
	bottom: 0;
	height: .2em;
	background-color: var(--color-primary-lighter);
}

[aria-current="page"] {
	color: var(--white);
}

[aria-current="page"]::before {
	height: 100%;
}

/* Media Queries */
@media (hover: hover) {

	a:hover,
	button:hover {
		color: var(--color-primary-lighter);
	}

	.btn-primary:hover {
		outline: .2em solid var(--color-primary-lighter);
	}

	.link-primary:hover {
		color: var(--white);
	}

	.link-primary:hover::before {
		height: 100%;
	}

}