/* General Rules */
html,
a,
button {
	text-wrap: pretty;
	font-weight: bold;
	font-size: small;
	color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: bolder;
	line-height: 1.6em;
}

/* Components */